body {
    font-family: "Inter", sans-serif;
    background-color: #6066ff;
}


.form {
    background-color: #fff;
    border: 2px solid #6066ff;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

    margin-left: 38vw;
    margin-right: 38vw;
    margin-top: 10vh;

    &__header {
        font-weight: 700;
        font-size: 44px;
        color: #252eff;
        margin-bottom: 69px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 19px;
        margin-bottom: 59px;
    }

    &__input {
        border: 2px solid #6066ff;
        border-radius: 10px;
        padding: 10px;
        width: 352px;
        height: 38px;

        &:focus {
            outline: #8b54ff;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 30px;
    }

    &__btn {
        border-radius: 20px;

        width: 376px;
        height: 38px;
        background: #8b54ff;
        border: 0;
        font-weight: 500;
        font-size: 15px;
        color: #fff;

        text-align: center;
        // padding-top: 20px;

        &:last-child {
            background: #6066ff;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__theme {
        display: flex;
        flex-direction: row;

        column-gap: 10px;

        &-btn {
            width: 100px;
            background: #6066ff;
            border: 0;
            font-weight: 500;
            font-size: 15px;
            color: #fff;
            padding: 10px;
            text-align: center;
            border-radius: 20px;

            &:hover {
                background-color: #8b54ff;
                cursor: pointer;
            }
        }
    }

    
}